body {
   
    background-image: url(../img/psfundo.jpg);

  
  }
  
  header { 
  
  font-family: 'Kanit', sans-serif;
  background-color: #000000; 
  padding: 30px 0;
  
  
  }
  
  
  .caixa {
  
    position: relative;
      width: 940px;
      margin: 0 auto;
    top: -200px;
  
  }
  
  nav {
  
      position: absolute;
      top: 100px;
      right: 250px;
  
  }
  
  nav li {
  
      display: inline;
      margin: 0 0 0 15px;
  
  }
  
  nav a {
  
    text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
  
  }
  
  .logo2 {
  
    position: absolute;
      top: 100px;
      right: 0;
    top: 0;
    width: 250px;
   
  }

  main {

    width: 940px;
    margin: 0 auto;

}

form {

   margin: 40px 0; 

}

form label, form p {

    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #FFFFFF;

}

.input-padrao {

    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}

.checkbox {

    margin: 20px 0;
}

footer {

    text-align: center;
    background-image: url(../imagens/bg.jpg); 
    /*colocar os 2 pontos e barra*/
    padding: 40px 0;

}

.copyright {

    color: #ffffff;
    font-size: 13;
    margin: 20px 0 0;

}

.enviar {

    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px; 
    /*borda do botão arredondada*/
    transition: 1s;  
    /* botão troca de cor nesse tempo*/
    transition: 1s all; 
    /*faz a transition de todos os elementos cor e aumento do botão*/

}

.enviar:hover { 

   background: darkorange; 
   cursor: pointer; 
   /*colocar a seta do mause como mão*/
   transform: scale(1.2);
   /*transforma (aumenta o botão quando o  mouse esta em cima dele*/
   transform: rotate(70deg);
   /*inclina o item quantos graus quiser*/
   transform: scale(1.2) 
   /* transform: rotate(70deg); */
   /*para somar as duas (quando temos 2 ou mais coisas iguais como o transform a ultima se sobrepoe das autras e para arru,ar isso colocamos juntas como no ex)*/

}

table {

    margin: 20px 0 40px;

}

thead {

    background: #555555;
    color: white;
    font-weight: bold;

}

td, th {

    border: 1px solid #000000;
    padding: 8px 15px;
}






  footer {

  
    /* background-image: url(../imagens/bg.jpg); */
    padding: 40px 0;
    background-color: #000000;
    margin-top: 70px;
  
  }
  
  .copyright {
  
    font-size: 25px;
    color: white;
    margin: 20px 0 0;
    text-align: center;
  
  }
  
  .mapa {
  
    padding: 1em 0;
    background: linear-gradient(#FEFEFE, #888888); /*pode ser colocada a inclinação também das cores e a porcentagem que queremos das cores*/
  
  }
  
  .mapa-conteudo {
  
    width: 940px;
    margin: 0 auto;
  
  }
  
  .mapa p {
  
    margin: 0 0 1em;
    text-align: center;
    font-size: 1em;
  
  }
  
    .mapa h3 {
  
      margin: 0 0 1em;
      text-align: center;
      font-size: 1em;
  
    }
  

  .rodape {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
  
      color: white;
  }
  
  .links-footer {
      width: 30%;
      display: flex;
      justify-content: space-between;
  }
  
  .links-footer h2 {
      font-family: 'Titillium Web';
      font-size: 24px;
  }
  
  .links-footer a {
      font-family: 'Titillium Web';
      font-size: 14px;
      color: white;
      text-decoration: none;
  }
  
  .links-footer a:hover {
      color: #0d6efd;
  }
  
  .sociais {
      width: 31%;
  }
  
  .sociais p {
      font-family: 'Titillium Web';    
  }
  
  .sociais form {
      width: 100%;
      display: flex; 
      justify-content: space-between;
      margin-bottom: 10px;
  }
  
  .sociais input[type="email"]{
      height: 37px;
      width: 65%;  
      border-radius: 0px; 
      border-style: none; 
      text-indent: 5px;
  }
  
  .sociais input[type="email"]::placeholder {
      color: #B8B3B3;
      font-weight: bold;
  }
  
  .sociais button{
      width: 35%;
      color: white;
      background-color: #001F70;
      border: none;
      font-family: 'Titillium Web';
      font-weight: 600;
  }
  
  .siga-nos {
  
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.8em;
  
  }
  
  .siga-nos h2 {
  
      font-family: 'Titillium Web';
      font-size: 23px;
  
  }
  
  .siga-nos img {
  
   width: 35px;
   height: 35px;
   
  }
  

