body {
   
  /* background-color: #BBBBBB;  */

}

header { 

display: inline-block;
width: 100%;
font-family: 'Kanit', sans-serif;
background-color: #000000; 
padding: 30px 0;

}


.caixa {

  justify-content: space-around;
  position: relative;
	width: 940px;
	margin: 0 auto;
  top: -200px;

}

nav {

	position: absolute;
	top: 100px;
	right: 250px;

}

nav li {

	display: inline;
	margin: 0 0 0 15px;

}

nav a {

  text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;

}

.logo2 {

  position: absolute;
	top: 100px;
	right: 0;
  top: 0;
  width: 250px;
 
}












main {

  margin-top: 70px;
}

main div p {

  font-size: 40px;
  font-weight: bold;

}

main div h5 {

  font-size: 60px;
  font-weight: bold;

}








div.gallery {

  border: 3px solid #ccc;
  border-radius: 15px;
  padding: 10px;

}

div.gallery:hover {

  border: 3px solid #777;

}


div.gallery img {

  width: 100%;
  height: auto;
  border-radius: 15px;

}


div.desc {

  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;

}

* {
  box-sizing: border-box;
}

.responsive {
  
  padding: 60px 6px;
  float: left;
  width: 24.99999%;
  

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {

  content: "";
  display: table;
  clear: both;

}







.ofertas {

  background-color: white;
  padding-top: 30px;
  margin: 2em 0;

}

.ofertas h2 {

  color: #fff;
  font-size: 27px;

}

.espaco-produtos {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  border-radius: 20px;

}

.cardnews{

  width: 15em;
  height: 22.5em;
  /* background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 80%); */
  color: #000000;
  margin-bottom: 2em;
  box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);

}

.cardnews {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.cardnews img {

  width: 100%;

}

.texto-card {

  width: 85%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.texto-card h3, .texto-card p {
  margin: 0;
}

.cardnews h3 {

  font-size: 24px;
  font-weight: 600;

}

.cardnews a {

  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 2;
  
  background-color: #000000;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;

}

.cardnews a:hover {

  background: #434141;
  cursor: pointer;
  transform: scale(1.1);
  color: white;

}







.descontos {

  background: #9fadca;
  padding: 2em;

}

.tex-desconto {

  display: inline-block;

}

.descontos h2 {

  font-size: 40px;
  font-weight: bold;
  

}

.texto-descontos {

  font-size: 30px;

}

.imagens-descontos {

  display: inline;
  margin: 0 10px 0 100px;
	
}

.img-desconto {

  opacity: 1; /*opacidade do elemento, vai de 1 a 0*/
	transition: 400ms;
	box-shadow: 10px 10px 5px 10px #000000, -10px -10px #858181
  
	
}

.img-desconto:hover {

  opacity: 0.5;

}

.clique-img-desconto {

  font-size: 25px;
  font-weight: bold;
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px 0 5px 35px;
  margin: 20px 0;

}





.icones {

  padding: 1em;
  margin: 3em 0;
  


}


.icones-img {

  
  border-radius: 20px;
  margin: 0 70px 0 70px;
  /* background-image: url(../img/quadrado-icone.jpg); */
  
}






.console-pc {

  padding: 2em 2em;

}

.conteudo-venda {

  width: 100%px;
  margin: 0 auto;

}

.conteudo-lista {

  width: 100%;
  display: inline-flex;
  vertical-align: top;
  font-size: 25px;
  background: #9fadca;
  padding: 50px;

}

.itens {

  line-height: 1.5;

}

.imagem-beneficios {

  height: 100px;
  float: left;
	width: 100%;
	opacity: 1; /*opacidade do elemento, vai de 1 a 0*/
	box-shadow: 10px 10px 5px 10px #000000

}






.copyright {

  font-size: 25px;
  color: white;
  margin: 20px 0 0;
  text-align: center;

}

.mapa {

  padding: 1em 0;
  

}

.mapa-conteudo {

  width: 940px;
  margin: 0 auto;

}

.mapa p {

  margin: 0 0 1em;
  text-align: center;
  font-size: 1em;
  font-family: 'Kanit', sans-serif;

}

  .mapa h3 {

    margin: 0 0 1em;
    text-align: center;
    font-size: 1em;
    font-family: 'Kanit', sans-serif;

  }







footer {

  /* background: linear-gradient(#FEFEFE, #000000); pode ser colocada a inclinação também das cores e a porcentagem que queremos das cores */
  /* background-image: url(../imagens/bg.jpg); */
  padding: 40px 0;
  background-color: #000000;
  margin-top: 70px;

}





  .rodape {

    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    color: white;

}

.links-footer {

    width: 30%;
    display: flex;
    justify-content: space-between;

}

.links-footer a {

    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

}

.links-footer a:hover {

    color: #0d6efd;

}

.sociais {

    width: 31%;

}

.sociais p {

    font-family: 'Titillium Web';    

}

.sociais form {

    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;

}

.sociais input[type="email"]{

    height: 37px;
    width: 65%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;

}

.sociais input[type="email"]::placeholder {

    color: #B8B3B3;
    font-weight: bold;

}

.sociais button{

    width: 35%;
    color: white;
    background-color: #514d4d;
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;

}

.sociais button:hover {

  background: #434141;
    cursor: pointer;
    transform: scale(1.1);
    color: white;

}

.siga-nos {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;

}

.siga-nos h2 {

    font-family: 'Titillium Web';
    font-size: 23px;

}

.siga-nos img {

 width: 35px;
 height: 35px;
 
}


